body {
  background: linear-gradient(to right, #210074, #d100ff);
  font-family: Gotham Rounded, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*margin: 20em;*/
}

.clock-container {
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.clock-container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  --rotation: 0;
  transform: rotate(var(--rotation));
}
.reverse {
  --reverse: 0;
  transform: rotate(var(--reverse));
}

.number1 { --rotation: 30deg}
.number2 { --rotation: 60deg}
.number3 { --rotation: 90deg}
.number4 { --rotation: 120deg}
.number5 { --rotation: 150deg}
.number6 { --rotation: 180deg}
.number7 { --rotation: 210deg}
.number8 { --rotation: 240deg}
.number9 { --rotation: 270deg}
.number10 {--rotation: 300deg}
.number11 {--rotation: 330deg}
/*.number12 {--rotation: 30deg}*/

.number1 div{ --reverse: -30deg}
.number2 div{ --reverse: -60deg}
.number3 div{ --reverse: -90deg}
.number4 div{ --reverse: -120deg}
.number5 div{ --reverse: -150deg}
.number6 div{ --reverse: -180deg}
.number7 div{ --reverse: -210deg}
.number8 div{ --reverse: -240deg}
.number9 div{ --reverse: -270deg}
.number10 div{--reverse: -300deg}
.number11 div{--reverse: -330deg}

.clock-container .hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 10px;
  height: 40%;
  --rotation: 0;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  background: black;
  border: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.clock-container::after {
  content: "";
  position: absolute;
  background: #000;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock-container .hand.second {
  width: 3px;
  height: 45%;
  background: red;
}

.clock-container .hand.minute {
  width: 7px;
  height: 40%;
  background: black;
}

.clock-container .hand.hour {
  width: 10px;
  height: 35%;
  background: black;
}

